#fundo{
    background-color: rgb(185, 224, 224);
}
#par{
    background-color: lightgreen;
}
#par2{
    background-color: rgb(240, 139, 122);
}
.span{
    background-color: red;
}
.span2{
    background-color: blue;
}
.verde{
    background-color: lightgreen;
}
#verdees{
    background-color: green;
}
#princ{
    background-color: rgb(10, 78, 10) !important;
}

.verm{
    background-color: brown;
}
#red{
    background-color: red;
}
#rprinc{
    background-color: rgb(94, 0, 0);
}